streamlit==1.31.1
ultralytics==8.1.20
opencv-python-headless==4.9.0.80
pillow==10.2.0
numpy==1.26.4
pandas==2.2.0
matplotlib==3.8.3
seaborn==0.13.2
plotly==5.19.0
pyyaml==6.0.1
torch==2.2.0
torchvision==0.17.0
